# Boilerplate
__pycache__/
_archive/
_dev/
.idea/
build/
dev/
dist/
ignored/
*~$*
*.DS_Store
*.egg-info
*.swp
tags
MANIFEST

# Custom
/*.json
*/cache/*
!*/cache/.keep
/env/*
!/env/.env.example
.ipynb_checkpoints/
/venv/
*.ipynb
.DS_Store
backup/
# todo: why several variations of this pattern not working?
#combined/*.tsv
#!combined/.keep
#/*/combined/*.tsv
#!/*/combined/.keep
*/combined/*.tsv
!*/combined/.keep
combined/sssom_mappings_icd10cm.tsv
# These files are just too big. Could use git LFS, but will simply add in the releases for now:
content/icd10cm_snomed_from_omop/tsv/v4/sssom_mappings_icd10cm.tsv
content/icd10cm_snomed_from_omop/fhir/sssom_mappings_icd10cm.fhir.json
